<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-title-wrap">
      <%= f.label :title, class: "form-add-title" %>
      <%= f.text_field :title, class: "form-add-title-textarea" %>
    </div> 

    <div class="form-text-wrap">
      <%= f.label :text, class: "form-add-text" %>
      <%= f.text_area :text, class: "form-add-text-textarea" %>
    </div>

    <%= f.submit 'save', :class => "button__submit" %>
<% end %>
