<%= form_for @project do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form">
  <div class="form-title-wrap">
    <%= f.label :title, class: "form-add-title" %>
    <%= f.text_field :title, class: "form-add-title-textarea" %>
  </div>

  <div class="form-text-wrap">
    <%= f.label :description, class: "form-add-text" %>
    <%= f.text_area :description, class: "form-add-text-textarea" %>
  </div>

    <%= f.submit 'save', :class => "button__submit"  %>

</div>  

<% end %>

