<div id="masonry-container" class="project-wrapper transitions-enabled">
    <% @projects.each do |project| %>
        <div class="project box col3">
          <h3 class="project-title"><%= link_to project.title, project_path(project) %></h3>
          <!-- <p class="project-description"><%= project.description %></p> -->
          <%= link_to image_tag(project.images.sample), project_path(project) %>
          <% if user_signed_in? %>
            <%= link_to 'Show', project_path(project) %>
            <%= link_to 'Edit', edit_project_path(project) %>
            <%= link_to 'Destroy', project_path(project),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      <% end %>
      </div>
</div>
