<div class="project-img-container">
	<div>
		<% @project.images.each do |image| %>
				<%= image_tag(image.url) %>
		<% end %>
	</div>
</div>

<div>
	<div class="show-project-title"><%= @project.title %></div>
	<div class="show-project-description"><%= @project.description %></div>
</div>

<div class="show-controllers">
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to 'Back', projects_path %>
</div>