<nav class="main-nav">
  <div class="mobile-menu"></div>
  <div class="cross-hide">close &#10007;</div>
  <ul class="menu">
    <li class="menu-item text-shadow-yellow"><%= link_to 'News', root_path %></li>
    <li class="menu-item text-shadow-yellow"><%= link_to 'Projects', projects_path %></li>
    <li class="menu-item text-shadow-yellow"><%= link_to 'Fazed Grunion', about_path %></li>
    <li class="menu-item text-shadow-yellow"><%= link_to 'Contact', contact_path %></li>
  </ul>
</nav>
<% if user_signed_in? %>
    <nav class="admin-nav">
      <ul class="admin-menu">
        <li class="admin-menu-item"><%= link_to 'New article', new_article_path %></li>
        <li class="admin-menu-item"><%= link_to 'New project', new_project_path %></li>
      </ul>
    </nav>

    <div class="admin-login-wrapper">
      <ul class="admin-login-menu">
        <li class="admin-login-item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <li class="admin-login-item"><%= current_user.email%></li>
      </ul>
    </div>
<% else %>
    <div class="admin-login-wrapper">
      <ul class="admin-login-menu">
        <li class="admin-login-item"><%= link_to('Login', new_user_session_path) %></li>
        <!-- <li class="admin-login-item"><%= link_to('Register', new_user_registration_path) %></li> -->
      </ul>
    </div>
<% end %>

